<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_RANK_TARGET</key>
	<string>1173504548</string>
	<key>AddExecutablesFilter</key>
	<false/>
	<key>BLUEADDRESS</key>
	<string>dd:ab:8e:8c:ad:ef</string>
	<key>CHIP</key>
	<integer>2147483647</integer>
	<key>DISABLE_SHOW_STORE_HOME</key>
	<false/>
	<key>Executables</key>
	<array>
		<string>UIKitApplication:com.apple.purplebuddy</string>
		<string>com.apple.AccountAuthenticationDialog</string>
		<string>com.apple.AdSheetPhone</string>
		<string>com.apple.AppStore</string>
		<string>com.apple.appstored</string>
		<string>com.apple.AppleAccount</string>
		<string>com.apple.AskPermissionUI</string>
		<string>com.apple.AuthKit</string>
		<string>com.apple.Bridge</string>
		<string>com.apple.CallHistorySyncHelper</string>
		<string>com.apple.CloudKit.ShareBear</string>
		<string>com.apple.CloudKit</string>
		<string>com.apple.CommCenterMobileHelper</string>
		<string>com.apple.CommCenterRootHelper</string>
		<string>com.apple.CompassCalibrationViewService</string>
		<string>com.apple.CoreAuthUI</string>
		<string>com.apple.DemoApp</string>
		<string>com.apple.Diagnostics.Mitosis</string>
		<string>com.apple.Diagnostics</string>
		<string>com.apple.DuetHeuristic-BM</string>
		<string>com.apple.DumpPanic</string>
		<string>com.apple.FacebookAccountMigrationDialog</string>
		<string>com.apple.Fitness</string>
		<string>com.apple.GameController</string>
		<string>com.apple.Health</string>
		<string>com.apple.HealthPrivacyService</string>
		<string>com.apple.Home.HomeUIService</string>
		<string>com.apple.IMLoggingAgent</string>
		<string>com.apple.InCallService</string>
		<string>com.apple.MailCompositionService</string>
		<string>com.apple.Maps</string>
		<string>com.apple.MobileAccessoryUpdater</string>
		<string>com.apple.MobileAddressBook</string>
		<string>com.apple.MobileInternetSharing</string>
		<string>com.apple.MobileSMS</string>
		<string>com.apple.MobileStore</string>
		<string>com.apple.Music</string>
		<string>com.apple.MusicUIService</string>
		<string>com.apple.OTACrashCopier</string>
		<string>com.apple.Passbook</string>
		<string>com.apple.PassbookUIService</string>
		<string>com.apple.PhotosViewService</string>
		<string>com.apple.PreBoard</string>
		<string>com.apple.Preferences</string>
		<string>com.apple.PrintKit.Print-Center</string>
		<string>com.apple.ReportCrash</string>
		<string>com.apple.SCHelper</string>
		<string>com.apple.SafariViewService</string>
		<string>com.apple.ServerDocuments</string>
		<string>com.apple.SharedWebCredentialViewService</string>
		<string>com.apple.SiriViewService</string>
		<string>com.apple.StoreDemoViewService</string>
		<string>com.apple.TencentWeiboAccountMigrationDialog</string>
		<string>com.apple.TrustMe</string>
		<string>com.apple.UserEventAgent-System</string>
		<string>com.apple.VoiceMemos</string>
		<string>com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI</string>
		<string>com.apple.WebSheet</string>
		<string>com.apple.WebViewService</string>
		<string>com.apple.WirelessRadioManager</string>
		<string>com.apple.absd</string>
		<string>com.apple.accountsd</string>
		<string>com.apple.afcd</string>
		<string>com.apple.appleaccount.AACredentialRecoveryDialog</string>
		<string>com.apple.appleseed.FeedbackAssistant</string>
		<string>com.apple.assertiond</string>
		<string>com.apple.assetsd</string>
		<string>com.apple.assistantd</string>
		<string>com.apple.atc.atwakeup</string>
		<string>com.apple.atc</string>
		<string>com.apple.backboardd</string>
		<string>com.apple.backupd</string>
		<string>com.apple.biometrickitd</string>
		<string>com.apple.calaccessd</string>
		<string>com.apple.calculator</string>
		<string>com.apple.camera</string>
		<string>com.apple.carkitd</string>
		<string>com.apple.cloudd</string>
		<string>com.apple.clouddocs</string>
		<string>com.apple.cloudkit</string>
		<string>com.apple.compass</string>
		<string>com.apple.configd</string>
		<string>com.apple.containermanagerd</string>
		<string>com.apple.coreduetd</string>
		<string>com.apple.coreservices.appleid.authentication</string>
		<string>com.apple.coreservices.lsactivity</string>
		<string>com.apple.datadetectors.DDActionsService</string>
		<string>com.apple.discoveryd_helper</string>
		<string>com.apple.facetime</string>
		<string>com.apple.fairplayd.H2</string>
		<string>com.apple.family</string>
		<string>com.apple.familynotification</string>
		<string>com.apple.fieldtest</string>
		<string>com.apple.fileprovider.fileproviderd</string>
		<string>com.apple.gamecenter.GameCenterUIService</string>
		<string>com.apple.gamecenter</string>
		<string>com.apple.iBooks</string>
		<string>com.apple.iCloudDriveApp</string>
		<string>com.apple.iad.iAdOptOut</string>
		<string>com.apple.identityservicesd</string>
		<string>com.apple.imagent</string>
		<string>com.apple.ios.StoreKitUIService</string>
		<string>com.apple.iosdiagnostics</string>
		<string>com.apple.itunescloudd</string>
		<string>com.apple.itunesstored</string>
		<string>com.apple.locationd</string>
		<string>com.apple.lsd</string>
		<string>com.apple.managedconfiguration.MDMRemoteAlertService</string>
		<string>com.apple.managedconfiguration.profiled</string>
		<string>com.apple.medialibraryd</string>
		<string>com.apple.mediaremoted</string>
		<string>com.apple.mobile.installd</string>
		<string>com.apple.mobile.keybagd</string>
		<string>com.apple.mobile.lockbot</string>
		<string>com.apple.mobile.lockdown</string>
		<string>com.apple.mobile.notification_proxy</string>
		<string>com.apple.mobileactivationd</string>
		<string>com.apple.mobilecal</string>
		<string>com.apple.mobilegestalt.xpc</string>
		<string>com.apple.mobilemail</string>
		<string>com.apple.mobileme.fmf1</string>
		<string>com.apple.mobileme.fmip1</string>
		<string>com.apple.mobilenotes</string>
		<string>com.apple.mobilephone</string>
		<string>com.apple.mobilesafari</string>
		<string>com.apple.mobileslideshow</string>
		<string>com.apple.mobilesms.compose</string>
		<string>com.apple.mobilesms.notification</string>
		<string>com.apple.mobiletimer</string>
		<string>com.apple.mtmergeprops</string>
		<string>com.apple.nanoregistryd</string>
		<string>com.apple.nehelper</string>
		<string>com.apple.networkd_privileged</string>
		<string>com.apple.news</string>
		<string>com.apple.oscard</string>
		<string>com.apple.pfd</string>
		<string>com.apple.pipelined</string>
		<string>com.apple.pluginkit.pkd</string>
		<string>com.apple.podcasts</string>
		<string>com.apple.powerd</string>
		<string>com.apple.prdaily</string>
		<string>com.apple.purplebuddy</string>
		<string>com.apple.quicklook.quicklookd</string>
		<string>com.apple.recentsd</string>
		<string>com.apple.reminders</string>
		<string>com.apple.sandboxd</string>
		<string>com.apple.share</string>
		<string>com.apple.social.SLGoogleAuth</string>
		<string>com.apple.social.SLYahooAuth</string>
		<string>com.apple.softwarebehaviorservicesd</string>
		<string>com.apple.stocks</string>
		<string>com.apple.storebookkeeperd</string>
		<string>com.apple.tccd</string>
		<string>com.apple.telephonyutilities.callservicesd</string>
		<string>com.apple.tips</string>
		<string>com.apple.touchsetupd</string>
		<string>com.apple.videos</string>
		<string>com.apple.voiced</string>
		<string>com.apple.voicemail.vmd</string>
		<string>com.apple.weather</string>
		<string>com.apple.webapp1</string>
		<string>com.apple.webapp</string>
		<string>com.apple.wifid</string>
		<string>com.apple.wirelessproxd</string>
		<string>com.diary.mood</string>
		<string>com.e4bf058461-1-42</string>
		<string>com.fqppm.pro</string>
		<string>com.i4iPhones.UDIDFaker</string>
		<string>com.izhuanpan.appone</string>
		<string>com.liping.PerfectPDFReader</string>
		<string>com.qianbaoapp.hkb</string>
		<string>com.quzhourangying.candy18.TianTianZhuanQianBao</string>
		<string>com.saurik.Cydia</string>
		<string>com.teiron.pphelperns</string>
		<string>com.touchsprite.ios</string>
		<string>lockdown.5172098718.com.apple.afc2</string>
		<string>lockdown.5236557536.com.apple.afc2</string>
		<string>lockdown.5255318294.com.apple.mobile.diagnostics_relay</string>
	</array>
	<key>LIMIT_RANK_NUM</key>
	<integer>2500</integer>
	<key>MACADDRESS</key>
	<string>cc:ab:8e:8c:ad:ee</string>
	<key>MOBILE_GESTALT_HOOK</key>
	<true/>
	<key>SERIAL</key>
	<string>BNPDQ3UBGRYB</string>
	<key>SSL_KILL_HOOK</key>
	<false/>
	<key>SSL_RW_HOOK</key>
	<false/>
	<key>UDID</key>
	<string>ef1bfa7787353efd4890d47ea2beab6874eecdd3</string>
	<key>bubbles</key>
	<string>{&quot;type&quot;:0,&quot;id&quot;:&quot;1059716058&quot;,&quot;entity&quot;:&quot;software&quot;}</string>
</dict>
</plist>
